* {
  margin: 0;
  padding: 0;
}

.logopsis {
  margin-left: 2vw;
  margin-top: -2vh;
}

.logopsis img {
  width: 16vh;
  position: absolute;
}

.navbar {
  background-color: #0000aa;
}

.navbar-nav {
  margin-left: 12vw;
  margin-top: 2vh;
}

.nav-link {
  margin-right: 1vw;
}

#prfl {
  margin-right: 1vw;
  display: none;
  text-decoration: none;
}

.navbar-brand {
  margin-left: 50vw;
}

.bio {
  display: flex;
  justify-content: space-between;
  width: 82vw;
  margin: 12vh auto 0;
}

.bio .cardpemain .gambar img {
  width: 67vh;
}

.bio .cardpemain p.cardpp {
  margin: 20px auto 0;
  width: 18vw;
  text-align: center;
  border-radius: 20px;
  background-color: blue;
  color: white;
  font-size: 24px;
}
.bio .cardpemain h2.cardh {
  margin-top: 20px;
  text-align: center;
}
.bio .cardpemain h1.cardpn {
  text-align: center;
  margin: 30px 20px;
  color: blue;
  font-size: 60px;
}

.bio .text {
  width: 40vw;
  margin-top: 2vh;
}

.bio .text h3 {
  background-color: #0000aa;
  padding: 2vh 0vw 2vh 2vw;
  border-radius: 20px;
  color: white;
}

.bio .text .rinci {
  display: flex;
  justify-content: space-between;
  width: 31vw;
  font-size: 25px;
  margin-top: 5vh;
}

.statis {
  width: 83vw;
  display: flex;
  flex-wrap: wrap;
  margin-left: 9vw;
}

.sta {
  border: 1px solid blue;
  border-radius: 30px;
  width: 15vw;
  text-align: center;
  padding: 2vh 0 6vh 0;
  margin-right: 1.5vw;
  margin-bottom: 6vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sta p {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

.sta p.angka {
  color: #0000aa;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-align: center;

  color: #0000aa;
}

.juds {
  width: 80vw;
  margin: 6vh auto 6vh;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #0000aa;
}

.main {
  background: linear-gradient(180deg, rgba(0, 0, 170, 0.78) 0%, rgba(0, 0, 170, 0.79) 100%);
  color: white;
  padding-top: 40px;
  padding-bottom: 1px;
  margin-top: 8vh;
}

.main h1 {
  width: 35vw;
  text-align: center;
  margin: 0 auto 50px;
}

.kesatu {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 30px;
  width: 82vw;
}

.main .maincard {
  border-radius: 30px;
  width: 40vw;
  background: linear-gradient(180deg, rgba(0, 0, 170, 0.65) 74.08%, rgba(0, 0, 170, 0) 100%);
}

.main .maincard .tanggal {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  margin: 10px auto 0;
}

.main .maincard .tanggal h3 {
  margin-top: 10px;
}

.main .maincard .tanggal img {
  width: 8vh;
  padding: 10px 13px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
}

.main .maincard .versus {
  display: flex;
  justify-content: space-between;
  width: 34vw;
  margin: 20px auto 0;
}

.main .maincard .versus h2 {
  margin-top: 8vh;
}

.main .maincard .versus img {
  width: 18vh;
}

.main .maincard .fulltime {
  display: flex;
  justify-content: space-between;
  width: 26vw;
  margin: 30px auto 0;
}

.main .maincard h4 {
  text-align: center;
  width: 24vw;
  margin: 40px auto 15px;
}

.main .maincard h4 span {
  font-size: 20px;
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: space-around;
  background: #0000aa;
  margin-top: 10vh;
  padding-bottom: 20px;
  color: white;
}

.footer .kesatuu {
  height: 140px;
  margin-top: 40px;
  margin-left: 35px;
  line-height: 35px;
  font-size: 25px;
}

.footer .kedua {
  margin-top: 30px;
  width: 20vw;
}

.footer .kedua .gambar {
  width: 10vw;
  margin: auto;
}

.footer .kedua .gambar img {
  width: 10vw;
}

.footer .kedua .bulat {
  display: flex;
  justify-content: space-between;
  width: 18vw;
  margin: auto;
}

.footer .kedua .bulat .bulatbulat {
  width: 40px;
  height: 40px;
  background-color: silver;
  margin-top: 20px;
  border-radius: 100px;
}

.footer .ketiga {
  width: 25vw;
  font-size: 25px;
  margin-top: 40px;
  line-height: 30px;
}

@media (max-width: 1024px) {
  .navbar-brand {
    margin-left: 40vw;
  }
  .statis {
    width: 83vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 9vw;
  }
  
  .sta {
    border: 1px solid blue;
    border-radius: 30px;
    width: 15vw;
    text-align: center;
    padding: 2vh 0 6vh 0;
    margin-right: 1.5vw;
    margin-bottom: 6vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .sta p {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    color: #000000;
  }
  
  .sta p.angka {
    color: #0000aa;
    font-style: normal;
    font-weight: 700;
    font-size: 2.6em;
    line-height: 6vh;
    text-align: center;
    color: #0000aa;
  }
  
  .juds {
    width: 80vw;
    margin: 6vh auto 6vh;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #0000aa;
  }
}

@media (max-width: 999px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav {
    margin-left: 0vw;
  }

  .nav-link {
    margin-right: 0vw;
  }

  #prfl {
    margin-right: 0;
    display: contents;
  }

  .navbar-brand {
    display: none;
  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82vw;
    margin: 12vh auto 0;
  }

  .bio .cardpemain .gambar {
    width: 50vw;
    margin: auto;
  }
  
  .bio .cardpemain .gambar img {
    width: 67vh;
  }
  
  .bio .cardpemain p.cardpp {
    margin: 20px auto 0;
    width: 30vw;
    text-align: center;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-size: 1.2em;
  }
  .bio .cardpemain h2.cardh {
    margin-top: 20px;
    text-align: center;
  }
  .bio .cardpemain h1.cardpn {
    text-align: center;
    margin: 30px 20px;
    color: blue;
    font-size: 60px;
  }
  
  .bio .text {
    width: 60vw;
    margin-top: 2vh;
    margin: auto;
  }
  
  .bio .text h3 {
    background-color: #0000aa;
    padding: 2vh 0vw 2vh 2vw;
    border-radius: 20px;
    color: white;
    width: 40vw;
    margin: auto;
    text-align: center;
  }
  
  .bio .text .rinci {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    font-size: 25px;
    margin-top: 5vh;
  }

  .statis {
    width: 83vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 9vw;
  }
  
  .sta {
    border: 1px solid blue;
    border-radius: 20px;
    width: 15vw;
    text-align: center;
    padding: 1vh 0 5vh 0;
    margin-right: 1.5vw;
    margin-bottom: 6vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .sta p {
    font-style: normal;
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
    color: #000000;
  }
  
  .sta p.angka {
    color: #0000aa;
    font-style: normal;
    font-weight: 700;
    font-size: 2.6em;
    line-height: 1vh;
    text-align: center;
    color: #0000aa;
    font-size: 2em;
  }
  
  .juds {
    width: 80vw;
    margin: 6vh auto 6vh;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #0000aa;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    background: #0000aa;
    margin-top: 10vh;
    padding-bottom: 20px;
    color: white;
  }

  .footer .kesatuu {
    height: 140px;
    margin-top: 10vh;
    margin-left: 1vw;
    line-height: 2vh;
    font-size: 18px;
  }

  .footer .kedua {
    margin-top: 30px;
    width: 18vw;
  }

  .footer .kedua .gambar {
    width: 10vw;
    margin: auto;
  }

  .footer .kedua .gambar img {
    width: 10vw;
  }

  .footer .kedua .bulat {
    display: flex;
    justify-content: space-between;
    width: 18vw;
    margin: auto;
  }

  .footer .kedua .bulat .bulatbulat {
    width: 25px;
    height: 25px;
    background-color: silver;
    margin-top: 20px;
    border-radius: 100px;
  }

  .footer .ketiga {
    width: 20vw;
    font-size: 16px;
    margin-top: 40px;
    margin-right: 1vw;
    line-height: 18px;
  }
}

@media (max-width: 750px) {
  .main {
    background: linear-gradient(180deg, rgba(0, 0, 170, 0.78) 0%, rgba(0, 0, 170, 0.79) 100%);
    color: white;
    padding-top: 40px;
    padding-bottom: 1px;
  }
  
  .main h1 {
    width: 60vw;
    text-align: center;
    margin: 0 auto 50px;
  }
  
  .kesatu {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 30px;
    width: 90vw;
  }
  
  .main .maincard {
    border-radius: 30px;
    width: 44vw;
    background: linear-gradient(180deg, rgba(0, 0, 170, 0.65) 74.08%, rgba(0, 0, 170, 0) 100%);
    font-size: 10px;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  
  .main .maincard .tanggal {
    display: flex;
    justify-content: space-between;
    width: 35vw;
    margin: 0 auto 2vh;
  }
  
  .main .maincard .tanggal h3 {
    margin-top: 0;
    font-size: 12px;
    margin-top: 1vh;
  }
  
  .main .maincard .tanggal img {
    width: 6vh;
    padding: 2px 8px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .main .maincard .versus {
    display: flex;
    justify-content: space-between;
    width: 34vw;
    margin: 0 auto 0;
  }
  
  .main .maincard .versus h2 {
    margin-top: 0;
  }
  
  .main .maincard .versus img {
    width: 10vh;
  }
  
  .main .maincard .fulltime {
    display: flex;
    justify-content: space-between;
    width: 26vw;
    margin: 0 auto 0;
  }
  
  .main .maincard h4 {
    text-align: center;
    width: 35vw;
    margin: 0 auto 0;
    font-size: 18px;
  }
  
  .main .maincard h4 span {
    font-size:16px;
    font-weight: 400;
  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82vw;
    margin: 12vh auto 0;
  }

  .bio .cardpemain .gambar {
    width: 40vh;
    margin: auto;
  }
  
  .bio .cardpemain .gambar img {
    width: 40vh;
  }
  
  .bio .cardpemain p.cardpp {
    margin: 20px auto 0;
    width: 30vw;
    text-align: center;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-size: 1em;
  }
  .bio .cardpemain h2.cardh {
    margin-top: 20px;
    text-align: center;
  }
  .bio .cardpemain h1.cardpn {
    text-align: center;
    margin: 30px 20px;
    color: blue;
    font-size: 60px;
  }
  
  .bio .text {
    width: 80vw;
    margin-top: 2vh;
    margin: auto;
  }
  
  .bio .text h3 {
    background-color: #0000aa;
    padding: 2vh 0vw 2vh 2vw;
    border-radius: 20px;
    color: white;
    width: 40vw;
    margin: auto;
    text-align: center;
  }
  
  .bio .text .rinci {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    font-size: 1.4em;
    margin-top: 5vh;
  }

  .statis {
    width: 83vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 9vw;
  }
  
  .sta {
    border: 1px solid blue;
    border-radius: 20px;
    width: 15vw;
    text-align: center;
    padding: 1vh 0 4vh 0;
    margin-right: 1.5vw;
    margin-bottom: 6vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .sta p {
    font-style: normal;
    font-weight: 700;
    font-size: 0.6em;
    text-align: center;
    color: #000000;
  }
  
  .sta p.angka {
    color: #0000aa;
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 0vh;
    text-align: center;
    color: #0000aa;
    font-size: 2em;
  }
  
  .juds {
    width: 80vw;
    margin: 6vh auto 6vh;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #0000aa;
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: #0000aa;
    margin-top: 100vh;
    padding-top: 10vh;
    padding-bottom: 0;
    color: white;
  }

  .footer .kesatuu {
    height: 140px;
    width: 60vw;
    margin-top: 40px;
    margin: 0 auto 10vh;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
  }

  .footer .kedua {
    margin-top: 30px;
    margin: 0 auto 10vh;
    width: 50vw;
  }

  .footer .kedua .gambar {
    width: 20vw;
    margin: auto;
  }

  .footer .kedua .gambar img {
    width: 20vw;
  }

  .footer .kedua .bulat {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin: auto;
  }

  .footer .kedua .bulat .bulatbulat {
    width: 40px;
    height: 40px;
    background-color: silver;
    margin-top: 20px;
    border-radius: 100px;
  }

  .footer .ketiga {
    width: 60vw;
    font-size: 25px;
    margin-top: 40px;
    line-height: 30px;
    margin: 0 auto 0;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav {
    margin-left: 0vw;
  }

  .nav-link {
    margin-right: 0vw;
  }

  #prfl {
    margin-right: 0vw;
    display: block;
  }

  .navbar-brand {
    display: none;
  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82vw;
    margin: 12vh auto 0;
  }

  .bio .cardpemain .gambar {
    width: 40vh;
    margin: auto;
  }
  
  .bio .cardpemain .gambar img {
    width: 40vh;
  }
  
  .bio .cardpemain p.cardpp {
    margin: 20px auto 0;
    width: 40vw;
    text-align: center;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-size: 0.8em;
  }
  .bio .cardpemain h2.cardh {
    margin-top: 20px;
    text-align: center;
  }
  .bio .cardpemain h1.cardpn {
    text-align: center;
    margin: 30px 20px;
    color: blue;
    font-size: 60px;
  }
  
  .bio .text {
    width: 70vw;
    margin-top: 2vh;
    margin: auto;
  }
  
  .bio .text h3 {
    background-color: #0000aa;
    padding: 2vh 0vw 2vh 2vw;
    border-radius: 20px;
    color: white;
    width: 60vw;
    margin: auto;
    text-align: center;
  }
  
  .bio .text .rinci {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    font-size: 0.8em;
    margin-top: 5vh;
  }

  .statis {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 7vw;
  }
  
  .sta {
    border: 1px solid blue;
    border-radius: 6px;
    width: 16vw;
    text-align: center;
    padding: 1vh 0 1vh 0;
    margin-right: 1.5vw;
    margin-bottom: 6vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .sta p {
    font-style: normal;
    font-weight: 700;
    font-size: 0.5em;
    line-height: 2vh;
    text-align: center;
    color: #000000;
  }
  
  .sta p.angka {
    color: #0000aa;
    font-style: normal;
    font-weight: 700;
    line-height: 0;
    text-align: center;
    color: #0000aa;
    font-size: 1em;
  }
  
  .juds {
    width: 80vw;
    margin: 6vh auto 6vh;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #0000aa;
  }

  .main {
    background: linear-gradient(180deg, rgba(0, 0, 170, 0.78) 0%, rgba(0, 0, 170, 0.79) 100%);
    color: white;
    padding-top: 40px;
    padding-bottom: 1px;
  }
  
  .main h1 {
    width: 90vw;
    text-align: center;
    margin: 0 auto 50px;
  }
  
  .kesatu {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 30px;
    width: 95vw;
  }
  
  .main .maincard {
    border-radius: 30px;
    width: 46vw;
    background: linear-gradient(180deg, rgba(0, 0, 170, 0.65) 74.08%, rgba(0, 0, 170, 0) 100%);
    font-size: 10px;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  
  .main .maincard .tanggal {
    display: flex;
    justify-content: space-between;
    width: 35vw;
    margin: 0 auto 2vh;
  }
  
  .main .maincard .tanggal h3 {
    margin-top: 0;
    font-size: 12px;
    margin-top: 1vh;
  }
  
  .main .maincard .tanggal img {
    width: 4vh;
    padding: 3px 3px;
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  .main .maincard .versus {
    display: flex;
    justify-content: space-between;
    width: 34vw;
    margin: 0 auto 0;
  }
  
  .main .maincard .versus h2 {
    margin-top: 4vh;
    font-size: 1.2em;
  }
  
  .main .maincard .versus img {
    width: 8vh;
  }
  
  .main .maincard .fulltime {
    display: flex;
    justify-content: space-between;
    width: 21vw;
    margin: 1vh auto 0;
    font-size: 0.8em;
  }

  .h2, h2 {
    font-size: 1.2em;
}

  .main .maincard h4 {
    text-align: center;
    width: 36vw;
    margin: 0 auto 0;
    font-size: 1.1em;
  }
  
  .main .maincard h4 span {
    font-size: 1em;
    font-weight: 400;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: #0000aa;
    margin-top: 10vh;
    padding-top: 10vh;
    padding-bottom: 0;
    color: white;
  }

  .footer .kesatuu {
    height: 140px;
    width: 90vw;
    margin-top: 40px;
    margin: 0 auto 8vh;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
  }

  .footer .kedua {
    margin-top: 30px;
    margin: 0 auto 8vh;
    width: 80vw;
  }

  .footer .kedua .gambar {
    width: 20vh;
    margin: auto;
  }

  .footer .kedua .gambar img {
    width: 20vh;
  }

  .footer .kedua .bulat {
    display: flex;
    justify-content: space-between;
    width: 55vw;
    margin: auto;
  }

  .footer .kedua .bulat .bulatbulat {
    width: 40px;
    height: 40px;
    background-color: silver;
    margin-top: 20px;
    border-radius: 100px;
  }

  .footer .ketiga {
    width: 80vw;
    font-size: 20px;
    margin-top: 40px;
    line-height: 30px;
    margin: 0 auto 0;
    text-align: center;
  }
}
